<?xml version="1.0" encoding="UTF-8"?>
<data version="0" orionindex="0" uofilesindex="0" checkupdates="true" checkupdatesforallorionfolders="false" language="English" updatesserveraddress="http://orionuo.online">
    <orionpath path="C:/Orion Launcher"/>
    <uopath path="C:/Program Files (x86)/Ultima Online - Excelsior Shard"/>
</data>
